%div.span3
  %div.well.sidebar-nav
    %ul.nav.nav-list
      %li.nav-header Failed Groups
      - @failure_groups.each_with_index do |key, i|
        %li
          %a{:href => "javascript:$(\".failure_#{i}\").toggle();"} #{@groups["failure"][key].count} nodes
          %ul
            %li Resources:
            %li
              %ul
                - key.each do |resource|
                  %li=resource
          %ul{:class => "hidden failure_#{i}"}
            %li Nodes
            %li
              %ul
              - @groups["failure"][key].each do |machine|
                %li
                  %a{:href => "#"}=machine.name
      %li 
        %a{:href => "#"} 10 nodes
      %li
        %a{:href => "#"} 2 nodes
      %li.nav-header 
        %a{:href => "#"} 20 Unresponsive Nodes - Last Hour
      %li.nav-header 
        %a{:href => "#"} 10 Unresponsive Nodes - Last 6 Hours
      %li.nav-header
        %a{:href => "#"} Resource Breakdown
      %li
        %a{:href => "#"} 20 Recent Nodes 
        %ul
          %li execute[I farted]
          %li bash[Some other resource]
      %li
        %a{:href => "#"} 10 Recent Nodes 
        %ul
          %li bash[Some other resource]


%div.span9
  %div.hero-unit
    %h1{:align => "center"} 
      Nodes - #{@nodes.count}: #{@success.count} pass, #{@failure.count} fail
    %p{:align => "center"}
      Last Reporting Node: [#{@last_node[:fqdn] rescue "none"}] - #{@last_node.last_report.created_at rescue "nil"}
